html, body {
    height: 100%;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field {
    width: 1000px;
    height: 800px;
    background-color: #505050;
    position: relative;
}

.cars {
    position: relative;
}

#driftingCar_1 {
    position: absolute;
    top: 750px;
    left: 20px;
    transform: rotate(-90deg);
}
#driftingCar_2 {
    position: absolute;
    top: 750px;
    left: 90px;
    transform: rotate(-90deg);
}
.fieldWW{
    position: relative;
}
#bottom{
    background-color: firebrick;
    width: 1020px;
    height: 20px;
    left: -10px;
    top: 800px;
    position: absolute;
}
#top{
    background-color: firebrick;
    width: 1020px;
    height: 20px;
    left: -10px;
    top: -20px;
    position: absolute;
}
#left{
    background-color: firebrick;
    width: 20px;
    height: 840px;
    left: -20px;
    top: -20px;
    position: absolute;
}
#right{
    background-color: firebrick;
    width: 20px;
    height: 840px;
    left: 1000px;
    top: -20px;
    position: absolute;
}
#first_turn{
    width: 10px;
    background-color: firebrick;
    height: 460px;
    left: 170px;
    top: 170px;
    position: absolute;
}
#second_turn{
    width: 660px;
    background-color: firebrick;
    height: 10px;
    left: 170px;
    top: 170px;
    position: absolute;
}
#third_turn{
    width: 10px;
    background-color: firebrick;
    height: 460px;
    left: 830px;
    top: 170px;
    position: absolute;
}
